{% extends 'admin_layout.html.twig' %}

{% block content %}
    {% embed 'embeds/admin_list.html.twig' %}
        {% set createNewPath = path('create_category') %}
        {% set isCategoriesList = true %}
        {% set page = categoriesPage %}

        {% block itemView %}
            <h2>{{ item.title }}</h2>

            <div class="btn-group">
                <a class="btn btn-success btn-sm" href="{{ path('edit_category', { id: item.id }) }}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{{ path('delete_category', { id: item.id }) }}">Delete</a>
            </div>
        {% endblock itemView %}
    {% endembed %}
{% endblock content %}